body {
 background :#333333;
height : 100vh;
display: flex;
justify-content : center;
align-items : center;
}
.canvas {
width: 1440px;
height: 960px;
}
.pixel {
width: 30px;
height: 30px;
float: left;
box-shadow: 0px 0px 1px #fff;}
.pixel:nth-child(243){background: #594900;}
.pixel:nth-child(244){background: #594900;}
.pixel:nth-child(245){background: #FFE5FE;}
.pixel:nth-child(246){background: #FFE5FE;}
.pixel:nth-child(247){background: #FFE5FE;}
.pixel:nth-child(248){background: #FFE5FE;}
.pixel:nth-child(249){background: #FFE5FE;}
.pixel:nth-child(250){background: #000000;}
.pixel:nth-child(251){background: #000000;}
.pixel:nth-child(252){background: #000000;}
.pixel:nth-child(253){background: #000000;}
.pixel:nth-child(259){background: #594900;}
.pixel:nth-child(260){background: #594900;}
.pixel:nth-child(261){background: #FFE5FE;}
.pixel:nth-child(262){background: #FFE5FE;}
.pixel:nth-child(263){background: #FFE5FE;}
.pixel:nth-child(264){background: #FFE5FE;}
.pixel:nth-child(265){background: #FFE5FE;}
.pixel:nth-child(266){background: #000000;}
.pixel:nth-child(267){background: #000000;}
.pixel:nth-child(268){background: #000000;}
.pixel:nth-child(269){background: #000000;}
.pixel:nth-child(275){background: #594900;}
.pixel:nth-child(276){background: #594900;}
.pixel:nth-child(277){background: #FFE5FE;}
.pixel:nth-child(278){background: #FFE5FE;}
.pixel:nth-child(279){background: #FFE5FE;}
.pixel:nth-child(280){background: #FFE5FE;}
.pixel:nth-child(281){background: #FFE5FE;}
.pixel:nth-child(282){background: #000000;}
.pixel:nth-child(283){background: #000000;}
.pixel:nth-child(284){background: #000000;}
.pixel:nth-child(285){background: #000000;}
.pixel:nth-child(293){background: #FFE5FE;}
.pixel:nth-child(294){background: #FFE5FE;}
.pixel:nth-child(295){background: #FFE5FE;}
.pixel:nth-child(296){background: #FFE5FE;}
.pixel:nth-child(297){background: #FFE5FE;}
.pixel:nth-child(298){background: #FFE5FE;}
.pixel:nth-child(299){background: #FFE5FE;}
.pixel:nth-child(300){background: #FFE5FE;}
.pixel:nth-child(309){background: #FFE5FE;}
.pixel:nth-child(310){background: #FFE5FE;}
.pixel:nth-child(311){background: #FFE5FE;}
.pixel:nth-child(312){background: #FFE5FE;}
.pixel:nth-child(313){background: #FFE5FE;}
.pixel:nth-child(314){background: #FFE5FE;}
.pixel:nth-child(315){background: #FFE5FE;}
.pixel:nth-child(316){background: #FFE5FE;}
.pixel:nth-child(325){background: #FFE5FE;}
.pixel:nth-child(326){background: #FFE5FE;}
.pixel:nth-child(327){background: #FFE5FE;}
.pixel:nth-child(328){background: #FFE5FE;}
.pixel:nth-child(329){background: #FFE5FE;}
.pixel:nth-child(330){background: #FFE5FE;}
.pixel:nth-child(331){background: #FFE5FE;}
.pixel:nth-child(332){background: #FFE5FE;}
.pixel:nth-child(340){background: #FF0000;}
.pixel:nth-child(341){background: #FF0000;}
.pixel:nth-child(342){background: #0000FF;}
.pixel:nth-child(343){background: #FF0000;}
.pixel:nth-child(344){background: #FF0000;}
.pixel:nth-child(345){background: #FF0000;}
.pixel:nth-child(346){background: #FF0000;}
.pixel:nth-child(356){background: #FF0000;}
.pixel:nth-child(357){background: #FF0000;}
.pixel:nth-child(358){background: #0000FF;}
.pixel:nth-child(359){background: #FF0000;}
.pixel:nth-child(360){background: #FF0000;}
.pixel:nth-child(361){background: #FF0000;}
.pixel:nth-child(362){background: #FF0000;}
.pixel:nth-child(372){background: #FF0000;}
.pixel:nth-child(373){background: #FF0000;}
.pixel:nth-child(374){background: #0000FF;}
.pixel:nth-child(375){background: #FF0000;}
.pixel:nth-child(376){background: #FF0000;}
.pixel:nth-child(377){background: #FF0000;}
.pixel:nth-child(378){background: #FF0000;}
.pixel:nth-child(387){background: #FF0000;}
.pixel:nth-child(388){background: #FF0000;}
.pixel:nth-child(389){background: #FF0000;}
.pixel:nth-child(390){background: #0000FF;}
.pixel:nth-child(391){background: #FF0000;}
.pixel:nth-child(392){background: #FF0000;}
.pixel:nth-child(393){background: #0000FF;}
.pixel:nth-child(394){background: #FF0000;}
.pixel:nth-child(395){background: #FF0000;}
.pixel:nth-child(396){background: #FF0000;}
.pixel:nth-child(397){background: #FF0000;}
.pixel:nth-child(403){background: #FF0000;}
.pixel:nth-child(404){background: #FF0000;}
.pixel:nth-child(405){background: #FF0000;}
.pixel:nth-child(406){background: #0000FF;}
.pixel:nth-child(407){background: #FF0000;}
.pixel:nth-child(408){background: #FF0000;}
.pixel:nth-child(409){background: #0000FF;}
.pixel:nth-child(410){background: #FF0000;}
.pixel:nth-child(411){background: #FF0000;}
.pixel:nth-child(412){background: #FF0000;}
.pixel:nth-child(413){background: #FF0000;}
.pixel:nth-child(419){background: #FF0000;}
.pixel:nth-child(420){background: #FF0000;}
.pixel:nth-child(421){background: #FF0000;}
.pixel:nth-child(422){background: #0000FF;}
.pixel:nth-child(423){background: #FF0000;}
.pixel:nth-child(424){background: #FF0000;}
.pixel:nth-child(425){background: #0000FF;}
.pixel:nth-child(426){background: #FF0000;}
.pixel:nth-child(427){background: #FF0000;}
.pixel:nth-child(428){background: #FF0000;}
.pixel:nth-child(429){background: #FF0000;}
.pixel:nth-child(434){background: #FF0000;}
.pixel:nth-child(435){background: #FF0000;}
.pixel:nth-child(436){background: #FF0000;}
.pixel:nth-child(437){background: #FF0000;}
.pixel:nth-child(438){background: #0000FF;}
.pixel:nth-child(439){background: #0000FF;}
.pixel:nth-child(440){background: #0000FF;}
.pixel:nth-child(441){background: #0000FF;}
.pixel:nth-child(442){background: #FF0000;}
.pixel:nth-child(443){background: #FF0000;}
.pixel:nth-child(444){background: #FF0000;}
.pixel:nth-child(445){background: #FF0000;}
.pixel:nth-child(450){background: #FF0000;}
.pixel:nth-child(451){background: #FF0000;}
.pixel:nth-child(452){background: #FF0000;}
.pixel:nth-child(453){background: #FF0000;}
.pixel:nth-child(454){background: #0000FF;}
.pixel:nth-child(455){background: #0000FF;}
.pixel:nth-child(456){background: #0000FF;}
.pixel:nth-child(457){background: #0000FF;}
.pixel:nth-child(458){background: #FF0000;}
.pixel:nth-child(459){background: #FF0000;}
.pixel:nth-child(460){background: #FF0000;}
.pixel:nth-child(461){background: #FF0000;}
.pixel:nth-child(466){background: #FF0000;}
.pixel:nth-child(467){background: #FF0000;}
.pixel:nth-child(468){background: #FF0000;}
.pixel:nth-child(469){background: #FF0000;}
.pixel:nth-child(470){background: #0000FF;}
.pixel:nth-child(471){background: #0000FF;}
.pixel:nth-child(472){background: #0000FF;}
.pixel:nth-child(473){background: #0000FF;}
.pixel:nth-child(474){background: #FF0000;}
.pixel:nth-child(475){background: #FF0000;}
.pixel:nth-child(476){background: #FF0000;}
.pixel:nth-child(477){background: #FF0000;}
.pixel:nth-child(1011){background: #594900;}
.pixel:nth-child(1012){background: #594900;}
.pixel:nth-child(1013){background: #FFE5FE;}
.pixel:nth-child(1014){background: #FFE5FE;}
.pixel:nth-child(1015){background: #FFE5FE;}
.pixel:nth-child(1016){background: #FFE5FE;}
.pixel:nth-child(1017){background: #FFE5FE;}
.pixel:nth-child(1018){background: #000000;}
.pixel:nth-child(1019){background: #000000;}
.pixel:nth-child(1020){background: #000000;}
.pixel:nth-child(1021){background: #000000;}
.pixel:nth-child(1027){background: #594900;}
.pixel:nth-child(1028){background: #594900;}
.pixel:nth-child(1029){background: #FFE5FE;}
.pixel:nth-child(1030){background: #FFE5FE;}
.pixel:nth-child(1031){background: #FFE5FE;}
.pixel:nth-child(1032){background: #FFE5FE;}
.pixel:nth-child(1033){background: #FFE5FE;}
.pixel:nth-child(1034){background: #000000;}
.pixel:nth-child(1035){background: #000000;}
.pixel:nth-child(1036){background: #000000;}
.pixel:nth-child(1037){background: #000000;}
.pixel:nth-child(1043){background: #594900;}
.pixel:nth-child(1044){background: #594900;}
.pixel:nth-child(1045){background: #FFE5FE;}
.pixel:nth-child(1046){background: #FFE5FE;}
.pixel:nth-child(1047){background: #FFE5FE;}
.pixel:nth-child(1048){background: #FFE5FE;}
.pixel:nth-child(1049){background: #FFE5FE;}
.pixel:nth-child(1050){background: #000000;}
.pixel:nth-child(1051){background: #000000;}
.pixel:nth-child(1052){background: #000000;}
.pixel:nth-child(1053){background: #000000;}
.pixel:nth-child(1061){background: #FFE5FE;}
.pixel:nth-child(1062){background: #FFE5FE;}
.pixel:nth-child(1063){background: #FFE5FE;}
.pixel:nth-child(1064){background: #FFE5FE;}
.pixel:nth-child(1065){background: #FFE5FE;}
.pixel:nth-child(1066){background: #FFE5FE;}
.pixel:nth-child(1067){background: #FFE5FE;}
.pixel:nth-child(1068){background: #FFE5FE;}
.pixel:nth-child(1077){background: #FFE5FE;}
.pixel:nth-child(1078){background: #FFE5FE;}
.pixel:nth-child(1079){background: #FFE5FE;}
.pixel:nth-child(1080){background: #FFE5FE;}
.pixel:nth-child(1081){background: #FFE5FE;}
.pixel:nth-child(1082){background: #FFE5FE;}
.pixel:nth-child(1083){background: #FFE5FE;}
.pixel:nth-child(1084){background: #FFE5FE;}
.pixel:nth-child(1093){background: #FFE5FE;}
.pixel:nth-child(1094){background: #FFE5FE;}
.pixel:nth-child(1095){background: #FFE5FE;}
.pixel:nth-child(1096){background: #FFE5FE;}
.pixel:nth-child(1097){background: #FFE5FE;}
.pixel:nth-child(1098){background: #FFE5FE;}
.pixel:nth-child(1099){background: #FFE5FE;}
.pixel:nth-child(1100){background: #FFE5FE;}
.pixel:nth-child(1108){background: #FF0000;}
.pixel:nth-child(1109){background: #FF0000;}
.pixel:nth-child(1110){background: #0000FF;}
.pixel:nth-child(1111){background: #FF0000;}
.pixel:nth-child(1112){background: #FF0000;}
.pixel:nth-child(1113){background: #FF0000;}
.pixel:nth-child(1114){background: #FF0000;}
.pixel:nth-child(1124){background: #FF0000;}
.pixel:nth-child(1125){background: #FF0000;}
.pixel:nth-child(1126){background: #0000FF;}
.pixel:nth-child(1127){background: #FF0000;}
.pixel:nth-child(1128){background: #FF0000;}
.pixel:nth-child(1129){background: #FF0000;}
.pixel:nth-child(1130){background: #FF0000;}
.pixel:nth-child(1140){background: #FF0000;}
.pixel:nth-child(1141){background: #FF0000;}
.pixel:nth-child(1142){background: #0000FF;}
.pixel:nth-child(1143){background: #FF0000;}
.pixel:nth-child(1144){background: #FF0000;}
.pixel:nth-child(1145){background: #FF0000;}
.pixel:nth-child(1146){background: #FF0000;}
.pixel:nth-child(1155){background: #FF0000;}
.pixel:nth-child(1156){background: #FF0000;}
.pixel:nth-child(1157){background: #FF0000;}
.pixel:nth-child(1158){background: #0000FF;}
.pixel:nth-child(1159){background: #FF0000;}
.pixel:nth-child(1160){background: #FF0000;}
.pixel:nth-child(1161){background: #0000FF;}
.pixel:nth-child(1162){background: #FF0000;}
.pixel:nth-child(1163){background: #FF0000;}
.pixel:nth-child(1164){background: #FF0000;}
.pixel:nth-child(1165){background: #FF0000;}
.pixel:nth-child(1171){background: #FF0000;}
.pixel:nth-child(1172){background: #FF0000;}
.pixel:nth-child(1173){background: #FF0000;}
.pixel:nth-child(1174){background: #0000FF;}
.pixel:nth-child(1175){background: #FF0000;}
.pixel:nth-child(1176){background: #FF0000;}
.pixel:nth-child(1177){background: #0000FF;}
.pixel:nth-child(1178){background: #FF0000;}
.pixel:nth-child(1179){background: #FF0000;}
.pixel:nth-child(1180){background: #FF0000;}
.pixel:nth-child(1181){background: #FF0000;}
.pixel:nth-child(1187){background: #FF0000;}
.pixel:nth-child(1188){background: #FF0000;}
.pixel:nth-child(1189){background: #FF0000;}
.pixel:nth-child(1190){background: #0000FF;}
.pixel:nth-child(1191){background: #FF0000;}
.pixel:nth-child(1192){background: #FF0000;}
.pixel:nth-child(1193){background: #0000FF;}
.pixel:nth-child(1194){background: #FF0000;}
.pixel:nth-child(1195){background: #FF0000;}
.pixel:nth-child(1196){background: #FF0000;}
.pixel:nth-child(1197){background: #FF0000;}
.pixel:nth-child(1202){background: #FF0000;}
.pixel:nth-child(1203){background: #FF0000;}
.pixel:nth-child(1204){background: #FF0000;}
.pixel:nth-child(1205){background: #FF0000;}
.pixel:nth-child(1206){background: #0000FF;}
.pixel:nth-child(1207){background: #0000FF;}
.pixel:nth-child(1208){background: #0000FF;}
.pixel:nth-child(1209){background: #0000FF;}
.pixel:nth-child(1210){background: #FF0000;}
.pixel:nth-child(1211){background: #FF0000;}
.pixel:nth-child(1212){background: #FF0000;}
.pixel:nth-child(1213){background: #FF0000;}
.pixel:nth-child(1218){background: #FF0000;}
.pixel:nth-child(1219){background: #FF0000;}
.pixel:nth-child(1220){background: #FF0000;}
.pixel:nth-child(1221){background: #FF0000;}
.pixel:nth-child(1222){background: #0000FF;}
.pixel:nth-child(1223){background: #0000FF;}
.pixel:nth-child(1224){background: #0000FF;}
.pixel:nth-child(1225){background: #0000FF;}
.pixel:nth-child(1226){background: #FF0000;}
.pixel:nth-child(1227){background: #FF0000;}
.pixel:nth-child(1228){background: #FF0000;}
.pixel:nth-child(1229){background: #FF0000;}
.pixel:nth-child(1234){background: #FF0000;}
.pixel:nth-child(1235){background: #FF0000;}
.pixel:nth-child(1236){background: #FF0000;}
.pixel:nth-child(1237){background: #FF0000;}
.pixel:nth-child(1238){background: #0000FF;}
.pixel:nth-child(1239){background: #0000FF;}
.pixel:nth-child(1240){background: #0000FF;}
.pixel:nth-child(1241){background: #0000FF;}
.pixel:nth-child(1242){background: #FF0000;}
.pixel:nth-child(1243){background: #FF0000;}
.pixel:nth-child(1244){background: #FF0000;}
.pixel:nth-child(1245){background: #FF0000;}
.pixel:nth-child(52){background: #FF0000;}
.pixel:nth-child(53){background: #FF0000;}
.pixel:nth-child(54){background: #FF0000;}
.pixel:nth-child(55){background: #FF0000;}
.pixel:nth-child(56){background: #FF0000;}
.pixel:nth-child(57){background: #FF0000;}
.pixel:nth-child(58){background: #FF0000;}
.pixel:nth-child(59){background: #FF0000;}
.pixel:nth-child(68){background: #FF0000;}
.pixel:nth-child(69){background: #FF0000;}
.pixel:nth-child(70){background: #FF0000;}
.pixel:nth-child(71){background: #FF0000;}
.pixel:nth-child(72){background: #FF0000;}
.pixel:nth-child(73){background: #FF0000;}
.pixel:nth-child(74){background: #FF0000;}
.pixel:nth-child(75){background: #FF0000;}
.pixel:nth-child(84){background: #FF0000;}
.pixel:nth-child(85){background: #FF0000;}
.pixel:nth-child(86){background: #FF0000;}
.pixel:nth-child(87){background: #FF0000;}
.pixel:nth-child(88){background: #FF0000;}
.pixel:nth-child(89){background: #FF0000;}
.pixel:nth-child(90){background: #FF0000;}
.pixel:nth-child(91){background: #FF0000;}
.pixel:nth-child(100){background: #594900;}
.pixel:nth-child(101){background: #594900;}
.pixel:nth-child(102){background: #594900;}
.pixel:nth-child(103){background: #FFE5FE;}
.pixel:nth-child(104){background: #FFE5FE;}
.pixel:nth-child(105){background: #FFE5FE;}
.pixel:nth-child(106){background: #000000;}
.pixel:nth-child(107){background: #FFE5FE;}
.pixel:nth-child(116){background: #594900;}
.pixel:nth-child(117){background: #594900;}
.pixel:nth-child(118){background: #594900;}
.pixel:nth-child(119){background: #FFE5FE;}
.pixel:nth-child(120){background: #FFE5FE;}
.pixel:nth-child(121){background: #FFE5FE;}
.pixel:nth-child(122){background: #000000;}
.pixel:nth-child(123){background: #FFE5FE;}
.pixel:nth-child(132){background: #594900;}
.pixel:nth-child(133){background: #594900;}
.pixel:nth-child(134){background: #594900;}
.pixel:nth-child(135){background: #FFE5FE;}
.pixel:nth-child(136){background: #FFE5FE;}
.pixel:nth-child(137){background: #FFE5FE;}
.pixel:nth-child(138){background: #000000;}
.pixel:nth-child(139){background: #FFE5FE;}
.pixel:nth-child(147){background: #594900;}
.pixel:nth-child(148){background: #FFE5FE;}
.pixel:nth-child(149){background: #594900;}
.pixel:nth-child(150){background: #FFE5FE;}
.pixel:nth-child(151){background: #FFE5FE;}
.pixel:nth-child(152){background: #FFE5FE;}
.pixel:nth-child(153){background: #FFE5FE;}
.pixel:nth-child(154){background: #000000;}
.pixel:nth-child(155){background: #FFE5FE;}
.pixel:nth-child(156){background: #FFE5FE;}
.pixel:nth-child(157){background: #FFE5FE;}
.pixel:nth-child(163){background: #594900;}
.pixel:nth-child(164){background: #FFE5FE;}
.pixel:nth-child(165){background: #594900;}
.pixel:nth-child(166){background: #FFE5FE;}
.pixel:nth-child(167){background: #FFE5FE;}
.pixel:nth-child(168){background: #FFE5FE;}
.pixel:nth-child(169){background: #FFE5FE;}
.pixel:nth-child(170){background: #000000;}
.pixel:nth-child(171){background: #FFE5FE;}
.pixel:nth-child(172){background: #FFE5FE;}
.pixel:nth-child(173){background: #FFE5FE;}
.pixel:nth-child(179){background: #594900;}
.pixel:nth-child(180){background: #FFE5FE;}
.pixel:nth-child(181){background: #594900;}
.pixel:nth-child(182){background: #FFE5FE;}
.pixel:nth-child(183){background: #FFE5FE;}
.pixel:nth-child(184){background: #FFE5FE;}
.pixel:nth-child(185){background: #FFE5FE;}
.pixel:nth-child(186){background: #000000;}
.pixel:nth-child(187){background: #FFE5FE;}
.pixel:nth-child(188){background: #FFE5FE;}
.pixel:nth-child(189){background: #FFE5FE;}
.pixel:nth-child(195){background: #594900;}
.pixel:nth-child(196){background: #FFE5FE;}
.pixel:nth-child(197){background: #594900;}
.pixel:nth-child(198){background: #594900;}
.pixel:nth-child(199){background: #FFE5FE;}
.pixel:nth-child(200){background: #FFE5FE;}
.pixel:nth-child(201){background: #FFE5FE;}
.pixel:nth-child(202){background: #FFE5FE;}
.pixel:nth-child(203){background: #000000;}
.pixel:nth-child(204){background: #FFE5FE;}
.pixel:nth-child(205){background: #FFE5FE;}
.pixel:nth-child(206){background: #FFE5FE;}
.pixel:nth-child(211){background: #594900;}
.pixel:nth-child(212){background: #FFE5FE;}
.pixel:nth-child(213){background: #594900;}
.pixel:nth-child(214){background: #594900;}
.pixel:nth-child(215){background: #FFE5FE;}
.pixel:nth-child(216){background: #FFE5FE;}
.pixel:nth-child(217){background: #FFE5FE;}
.pixel:nth-child(218){background: #FFE5FE;}
.pixel:nth-child(219){background: #000000;}
.pixel:nth-child(220){background: #FFE5FE;}
.pixel:nth-child(221){background: #FFE5FE;}
.pixel:nth-child(222){background: #FFE5FE;}
.pixel:nth-child(227){background: #594900;}
.pixel:nth-child(228){background: #FFE5FE;}
.pixel:nth-child(229){background: #594900;}
.pixel:nth-child(230){background: #594900;}
.pixel:nth-child(231){background: #FFE5FE;}
.pixel:nth-child(232){background: #FFE5FE;}
.pixel:nth-child(233){background: #FFE5FE;}
.pixel:nth-child(234){background: #FFE5FE;}
.pixel:nth-child(235){background: #000000;}
.pixel:nth-child(236){background: #FFE5FE;}
.pixel:nth-child(237){background: #FFE5FE;}
.pixel:nth-child(238){background: #FFE5FE;}
.pixel:nth-child(820){background: #FF0000;}
.pixel:nth-child(821){background: #FF0000;}
.pixel:nth-child(822){background: #FF0000;}
.pixel:nth-child(823){background: #FF0000;}
.pixel:nth-child(824){background: #FF0000;}
.pixel:nth-child(825){background: #FF0000;}
.pixel:nth-child(826){background: #FF0000;}
.pixel:nth-child(827){background: #FF0000;}
.pixel:nth-child(836){background: #FF0000;}
.pixel:nth-child(837){background: #FF0000;}
.pixel:nth-child(838){background: #FF0000;}
.pixel:nth-child(839){background: #FF0000;}
.pixel:nth-child(840){background: #FF0000;}
.pixel:nth-child(841){background: #FF0000;}
.pixel:nth-child(842){background: #FF0000;}
.pixel:nth-child(843){background: #FF0000;}
.pixel:nth-child(852){background: #FF0000;}
.pixel:nth-child(853){background: #FF0000;}
.pixel:nth-child(854){background: #FF0000;}
.pixel:nth-child(855){background: #FF0000;}
.pixel:nth-child(856){background: #FF0000;}
.pixel:nth-child(857){background: #FF0000;}
.pixel:nth-child(858){background: #FF0000;}
.pixel:nth-child(859){background: #FF0000;}
.pixel:nth-child(868){background: #594900;}
.pixel:nth-child(869){background: #594900;}
.pixel:nth-child(870){background: #594900;}
.pixel:nth-child(871){background: #FFE5FE;}
.pixel:nth-child(872){background: #FFE5FE;}
.pixel:nth-child(873){background: #FFE5FE;}
.pixel:nth-child(874){background: #000000;}
.pixel:nth-child(875){background: #FFE5FE;}
.pixel:nth-child(884){background: #594900;}
.pixel:nth-child(885){background: #594900;}
.pixel:nth-child(886){background: #594900;}
.pixel:nth-child(887){background: #FFE5FE;}
.pixel:nth-child(888){background: #FFE5FE;}
.pixel:nth-child(889){background: #FFE5FE;}
.pixel:nth-child(890){background: #000000;}
.pixel:nth-child(891){background: #FFE5FE;}
.pixel:nth-child(900){background: #594900;}
.pixel:nth-child(901){background: #594900;}
.pixel:nth-child(902){background: #594900;}
.pixel:nth-child(903){background: #FFE5FE;}
.pixel:nth-child(904){background: #FFE5FE;}
.pixel:nth-child(905){background: #FFE5FE;}
.pixel:nth-child(906){background: #000000;}
.pixel:nth-child(907){background: #FFE5FE;}
.pixel:nth-child(915){background: #594900;}
.pixel:nth-child(916){background: #FFE5FE;}
.pixel:nth-child(917){background: #594900;}
.pixel:nth-child(918){background: #FFE5FE;}
.pixel:nth-child(919){background: #FFE5FE;}
.pixel:nth-child(920){background: #FFE5FE;}
.pixel:nth-child(921){background: #FFE5FE;}
.pixel:nth-child(922){background: #000000;}
.pixel:nth-child(923){background: #FFE5FE;}
.pixel:nth-child(924){background: #FFE5FE;}
.pixel:nth-child(925){background: #FFE5FE;}
.pixel:nth-child(931){background: #594900;}
.pixel:nth-child(932){background: #FFE5FE;}
.pixel:nth-child(933){background: #594900;}
.pixel:nth-child(934){background: #FFE5FE;}
.pixel:nth-child(935){background: #FFE5FE;}
.pixel:nth-child(936){background: #FFE5FE;}
.pixel:nth-child(937){background: #FFE5FE;}
.pixel:nth-child(938){background: #000000;}
.pixel:nth-child(939){background: #FFE5FE;}
.pixel:nth-child(940){background: #FFE5FE;}
.pixel:nth-child(941){background: #FFE5FE;}
.pixel:nth-child(947){background: #594900;}
.pixel:nth-child(948){background: #FFE5FE;}
.pixel:nth-child(949){background: #594900;}
.pixel:nth-child(950){background: #FFE5FE;}
.pixel:nth-child(951){background: #FFE5FE;}
.pixel:nth-child(952){background: #FFE5FE;}
.pixel:nth-child(953){background: #FFE5FE;}
.pixel:nth-child(954){background: #000000;}
.pixel:nth-child(955){background: #FFE5FE;}
.pixel:nth-child(956){background: #FFE5FE;}
.pixel:nth-child(957){background: #FFE5FE;}
.pixel:nth-child(963){background: #594900;}
.pixel:nth-child(964){background: #FFE5FE;}
.pixel:nth-child(965){background: #594900;}
.pixel:nth-child(966){background: #594900;}
.pixel:nth-child(967){background: #FFE5FE;}
.pixel:nth-child(968){background: #FFE5FE;}
.pixel:nth-child(969){background: #FFE5FE;}
.pixel:nth-child(970){background: #FFE5FE;}
.pixel:nth-child(971){background: #000000;}
.pixel:nth-child(972){background: #FFE5FE;}
.pixel:nth-child(973){background: #FFE5FE;}
.pixel:nth-child(974){background: #FFE5FE;}
.pixel:nth-child(979){background: #594900;}
.pixel:nth-child(980){background: #FFE5FE;}
.pixel:nth-child(981){background: #594900;}
.pixel:nth-child(982){background: #594900;}
.pixel:nth-child(983){background: #FFE5FE;}
.pixel:nth-child(984){background: #FFE5FE;}
.pixel:nth-child(985){background: #FFE5FE;}
.pixel:nth-child(986){background: #FFE5FE;}
.pixel:nth-child(987){background: #000000;}
.pixel:nth-child(988){background: #FFE5FE;}
.pixel:nth-child(989){background: #FFE5FE;}
.pixel:nth-child(990){background: #FFE5FE;}
.pixel:nth-child(995){background: #594900;}
.pixel:nth-child(996){background: #FFE5FE;}
.pixel:nth-child(997){background: #594900;}
.pixel:nth-child(998){background: #594900;}
.pixel:nth-child(999){background: #FFE5FE;}
.pixel:nth-child(1000){background: #FFE5FE;}
.pixel:nth-child(1001){background: #FFE5FE;}
.pixel:nth-child(1002){background: #FFE5FE;}
.pixel:nth-child(1003){background: #000000;}
.pixel:nth-child(1004){background: #FFE5FE;}
.pixel:nth-child(1005){background: #FFE5FE;}
.pixel:nth-child(1006){background: #FFE5FE;}
.pixel:nth-child(482){background: #FFE5FE;}
.pixel:nth-child(483){background: #FFE5FE;}
.pixel:nth-child(484){background: #FF0000;}
.pixel:nth-child(485){background: #0000FF;}
.pixel:nth-child(486){background: #FBDD4D;}
.pixel:nth-child(487){background: #0000FF;}
.pixel:nth-child(488){background: #0000FF;}
.pixel:nth-child(489){background: #FBDD4D;}
.pixel:nth-child(490){background: #0000FF;}
.pixel:nth-child(491){background: #FF0000;}
.pixel:nth-child(492){background: #FFE5FE;}
.pixel:nth-child(493){background: #FFE5FE;}
.pixel:nth-child(498){background: #FFE5FE;}
.pixel:nth-child(499){background: #FFE5FE;}
.pixel:nth-child(500){background: #FF0000;}
.pixel:nth-child(501){background: #0000FF;}
.pixel:nth-child(502){background: #FBDD4D;}
.pixel:nth-child(503){background: #0000FF;}
.pixel:nth-child(504){background: #0000FF;}
.pixel:nth-child(505){background: #FBDD4D;}
.pixel:nth-child(506){background: #0000FF;}
.pixel:nth-child(507){background: #FF0000;}
.pixel:nth-child(508){background: #FFE5FE;}
.pixel:nth-child(509){background: #FFE5FE;}
.pixel:nth-child(514){background: #FFE5FE;}
.pixel:nth-child(515){background: #FFE5FE;}
.pixel:nth-child(516){background: #FF0000;}
.pixel:nth-child(517){background: #0000FF;}
.pixel:nth-child(518){background: #FBDD4D;}
.pixel:nth-child(519){background: #0000FF;}
.pixel:nth-child(520){background: #0000FF;}
.pixel:nth-child(521){background: #FBDD4D;}
.pixel:nth-child(522){background: #0000FF;}
.pixel:nth-child(523){background: #FF0000;}
.pixel:nth-child(524){background: #FFE5FE;}
.pixel:nth-child(525){background: #FFE5FE;}
.pixel:nth-child(530){background: #FFE5FE;}
.pixel:nth-child(531){background: #FFE5FE;}
.pixel:nth-child(532){background: #FFE5FE;}
.pixel:nth-child(533){background: #0000FF;}
.pixel:nth-child(534){background: #0000FF;}
.pixel:nth-child(535){background: #0000FF;}
.pixel:nth-child(536){background: #0000FF;}
.pixel:nth-child(537){background: #0000FF;}
.pixel:nth-child(538){background: #0000FF;}
.pixel:nth-child(539){background: #FFE5FE;}
.pixel:nth-child(540){background: #FFE5FE;}
.pixel:nth-child(541){background: #FFE5FE;}
.pixel:nth-child(546){background: #FFE5FE;}
.pixel:nth-child(547){background: #FFE5FE;}
.pixel:nth-child(548){background: #FFE5FE;}
.pixel:nth-child(549){background: #0000FF;}
.pixel:nth-child(550){background: #0000FF;}
.pixel:nth-child(551){background: #0000FF;}
.pixel:nth-child(552){background: #0000FF;}
.pixel:nth-child(553){background: #0000FF;}
.pixel:nth-child(554){background: #0000FF;}
.pixel:nth-child(555){background: #FFE5FE;}
.pixel:nth-child(556){background: #FFE5FE;}
.pixel:nth-child(557){background: #FFE5FE;}
.pixel:nth-child(562){background: #FFE5FE;}
.pixel:nth-child(563){background: #FFE5FE;}
.pixel:nth-child(564){background: #FFE5FE;}
.pixel:nth-child(565){background: #0000FF;}
.pixel:nth-child(566){background: #0000FF;}
.pixel:nth-child(567){background: #0000FF;}
.pixel:nth-child(568){background: #0000FF;}
.pixel:nth-child(569){background: #0000FF;}
.pixel:nth-child(570){background: #0000FF;}
.pixel:nth-child(571){background: #FFE5FE;}
.pixel:nth-child(572){background: #FFE5FE;}
.pixel:nth-child(573){background: #FFE5FE;}
.pixel:nth-child(578){background: #FFE5FE;}
.pixel:nth-child(579){background: #FFE5FE;}
.pixel:nth-child(580){background: #0000FF;}
.pixel:nth-child(581){background: #0000FF;}
.pixel:nth-child(582){background: #0000FF;}
.pixel:nth-child(583){background: #0000FF;}
.pixel:nth-child(584){background: #0000FF;}
.pixel:nth-child(585){background: #0000FF;}
.pixel:nth-child(586){background: #0000FF;}
.pixel:nth-child(587){background: #0000FF;}
.pixel:nth-child(588){background: #FFE5FE;}
.pixel:nth-child(589){background: #FFE5FE;}
.pixel:nth-child(594){background: #FFE5FE;}
.pixel:nth-child(595){background: #FFE5FE;}
.pixel:nth-child(596){background: #0000FF;}
.pixel:nth-child(597){background: #0000FF;}
.pixel:nth-child(598){background: #0000FF;}
.pixel:nth-child(599){background: #0000FF;}
.pixel:nth-child(600){background: #0000FF;}
.pixel:nth-child(601){background: #0000FF;}
.pixel:nth-child(602){background: #0000FF;}
.pixel:nth-child(603){background: #0000FF;}
.pixel:nth-child(604){background: #FFE5FE;}
.pixel:nth-child(605){background: #FFE5FE;}
.pixel:nth-child(610){background: #FFE5FE;}
.pixel:nth-child(611){background: #FFE5FE;}
.pixel:nth-child(612){background: #0000FF;}
.pixel:nth-child(613){background: #0000FF;}
.pixel:nth-child(614){background: #0000FF;}
.pixel:nth-child(615){background: #0000FF;}
.pixel:nth-child(616){background: #0000FF;}
.pixel:nth-child(617){background: #0000FF;}
.pixel:nth-child(618){background: #0000FF;}
.pixel:nth-child(619){background: #0000FF;}
.pixel:nth-child(620){background: #FFE5FE;}
.pixel:nth-child(621){background: #FFE5FE;}
.pixel:nth-child(628){background: #0000FF;}
.pixel:nth-child(629){background: #0000FF;}
.pixel:nth-child(630){background: #0000FF;}
.pixel:nth-child(633){background: #0000FF;}
.pixel:nth-child(634){background: #0000FF;}
.pixel:nth-child(635){background: #0000FF;}
.pixel:nth-child(644){background: #0000FF;}
.pixel:nth-child(645){background: #0000FF;}
.pixel:nth-child(646){background: #0000FF;}
.pixel:nth-child(649){background: #0000FF;}
.pixel:nth-child(650){background: #0000FF;}
.pixel:nth-child(651){background: #0000FF;}
.pixel:nth-child(660){background: #0000FF;}
.pixel:nth-child(661){background: #0000FF;}
.pixel:nth-child(662){background: #0000FF;}
.pixel:nth-child(665){background: #0000FF;}
.pixel:nth-child(666){background: #0000FF;}
.pixel:nth-child(667){background: #0000FF;}
.pixel:nth-child(675){background: #594900;}
.pixel:nth-child(676){background: #594900;}
.pixel:nth-child(677){background: #594900;}
.pixel:nth-child(682){background: #594900;}
.pixel:nth-child(683){background: #594900;}
.pixel:nth-child(684){background: #594900;}
.pixel:nth-child(691){background: #594900;}
.pixel:nth-child(692){background: #594900;}
.pixel:nth-child(693){background: #594900;}
.pixel:nth-child(698){background: #594900;}
.pixel:nth-child(699){background: #594900;}
.pixel:nth-child(700){background: #594900;}
.pixel:nth-child(707){background: #594900;}
.pixel:nth-child(708){background: #594900;}
.pixel:nth-child(709){background: #594900;}
.pixel:nth-child(714){background: #594900;}
.pixel:nth-child(715){background: #594900;}
.pixel:nth-child(716){background: #594900;}
.pixel:nth-child(722){background: #594900;}
.pixel:nth-child(723){background: #594900;}
.pixel:nth-child(724){background: #594900;}
.pixel:nth-child(725){background: #594900;}
.pixel:nth-child(730){background: #594900;}
.pixel:nth-child(731){background: #594900;}
.pixel:nth-child(732){background: #594900;}
.pixel:nth-child(733){background: #594900;}
.pixel:nth-child(738){background: #594900;}
.pixel:nth-child(739){background: #594900;}
.pixel:nth-child(740){background: #594900;}
.pixel:nth-child(741){background: #594900;}
.pixel:nth-child(746){background: #594900;}
.pixel:nth-child(747){background: #594900;}
.pixel:nth-child(748){background: #594900;}
.pixel:nth-child(749){background: #594900;}
.pixel:nth-child(754){background: #594900;}
.pixel:nth-child(755){background: #594900;}
.pixel:nth-child(756){background: #594900;}
.pixel:nth-child(757){background: #594900;}
.pixel:nth-child(762){background: #594900;}
.pixel:nth-child(763){background: #594900;}
.pixel:nth-child(764){background: #594900;}
.pixel:nth-child(765){background: #594900;}
.pixel:nth-child(1250){background: #FFE5FE;}
.pixel:nth-child(1251){background: #FFE5FE;}
.pixel:nth-child(1252){background: #FF0000;}
.pixel:nth-child(1253){background: #0000FF;}
.pixel:nth-child(1254){background: #FBDD4D;}
.pixel:nth-child(1255){background: #0000FF;}
.pixel:nth-child(1256){background: #0000FF;}
.pixel:nth-child(1257){background: #FBDD4D;}
.pixel:nth-child(1258){background: #0000FF;}
.pixel:nth-child(1259){background: #FF0000;}
.pixel:nth-child(1260){background: #FFE5FE;}
.pixel:nth-child(1261){background: #FFE5FE;}
.pixel:nth-child(1266){background: #FFE5FE;}
.pixel:nth-child(1267){background: #FFE5FE;}
.pixel:nth-child(1268){background: #FF0000;}
.pixel:nth-child(1269){background: #0000FF;}
.pixel:nth-child(1270){background: #FBDD4D;}
.pixel:nth-child(1271){background: #0000FF;}
.pixel:nth-child(1272){background: #0000FF;}
.pixel:nth-child(1273){background: #FBDD4D;}
.pixel:nth-child(1274){background: #0000FF;}
.pixel:nth-child(1275){background: #FF0000;}
.pixel:nth-child(1276){background: #FFE5FE;}
.pixel:nth-child(1277){background: #FFE5FE;}
.pixel:nth-child(1282){background: #FFE5FE;}
.pixel:nth-child(1283){background: #FFE5FE;}
.pixel:nth-child(1284){background: #FF0000;}
.pixel:nth-child(1285){background: #0000FF;}
.pixel:nth-child(1286){background: #FBDD4D;}
.pixel:nth-child(1287){background: #0000FF;}
.pixel:nth-child(1288){background: #0000FF;}
.pixel:nth-child(1289){background: #FBDD4D;}
.pixel:nth-child(1290){background: #0000FF;}
.pixel:nth-child(1291){background: #FF0000;}
.pixel:nth-child(1292){background: #FFE5FE;}
.pixel:nth-child(1293){background: #FFE5FE;}
.pixel:nth-child(1298){background: #FFE5FE;}
.pixel:nth-child(1299){background: #FFE5FE;}
.pixel:nth-child(1300){background: #FFE5FE;}
.pixel:nth-child(1301){background: #0000FF;}
.pixel:nth-child(1302){background: #0000FF;}
.pixel:nth-child(1303){background: #0000FF;}
.pixel:nth-child(1304){background: #0000FF;}
.pixel:nth-child(1305){background: #0000FF;}
.pixel:nth-child(1306){background: #0000FF;}
.pixel:nth-child(1307){background: #FFE5FE;}
.pixel:nth-child(1308){background: #FFE5FE;}
.pixel:nth-child(1309){background: #FFE5FE;}
.pixel:nth-child(1314){background: #FFE5FE;}
.pixel:nth-child(1315){background: #FFE5FE;}
.pixel:nth-child(1316){background: #FFE5FE;}
.pixel:nth-child(1317){background: #0000FF;}
.pixel:nth-child(1318){background: #0000FF;}
.pixel:nth-child(1319){background: #0000FF;}
.pixel:nth-child(1320){background: #0000FF;}
.pixel:nth-child(1321){background: #0000FF;}
.pixel:nth-child(1322){background: #0000FF;}
.pixel:nth-child(1323){background: #FFE5FE;}
.pixel:nth-child(1324){background: #FFE5FE;}
.pixel:nth-child(1325){background: #FFE5FE;}
.pixel:nth-child(1330){background: #FFE5FE;}
.pixel:nth-child(1331){background: #FFE5FE;}
.pixel:nth-child(1332){background: #FFE5FE;}
.pixel:nth-child(1333){background: #0000FF;}
.pixel:nth-child(1334){background: #0000FF;}
.pixel:nth-child(1335){background: #0000FF;}
.pixel:nth-child(1336){background: #0000FF;}
.pixel:nth-child(1337){background: #0000FF;}
.pixel:nth-child(1338){background: #0000FF;}
.pixel:nth-child(1339){background: #FFE5FE;}
.pixel:nth-child(1340){background: #FFE5FE;}
.pixel:nth-child(1341){background: #FFE5FE;}
.pixel:nth-child(1346){background: #FFE5FE;}
.pixel:nth-child(1347){background: #FFE5FE;}
.pixel:nth-child(1348){background: #0000FF;}
.pixel:nth-child(1349){background: #0000FF;}
.pixel:nth-child(1350){background: #0000FF;}
.pixel:nth-child(1351){background: #0000FF;}
.pixel:nth-child(1352){background: #0000FF;}
.pixel:nth-child(1353){background: #0000FF;}
.pixel:nth-child(1354){background: #0000FF;}
.pixel:nth-child(1355){background: #0000FF;}
.pixel:nth-child(1356){background: #FFE5FE;}
.pixel:nth-child(1357){background: #FFE5FE;}
.pixel:nth-child(1362){background: #FFE5FE;}
.pixel:nth-child(1363){background: #FFE5FE;}
.pixel:nth-child(1364){background: #0000FF;}
.pixel:nth-child(1365){background: #0000FF;}
.pixel:nth-child(1366){background: #0000FF;}
.pixel:nth-child(1367){background: #0000FF;}
.pixel:nth-child(1368){background: #0000FF;}
.pixel:nth-child(1369){background: #0000FF;}
.pixel:nth-child(1370){background: #0000FF;}
.pixel:nth-child(1371){background: #0000FF;}
.pixel:nth-child(1372){background: #FFE5FE;}
.pixel:nth-child(1373){background: #FFE5FE;}
.pixel:nth-child(1378){background: #FFE5FE;}
.pixel:nth-child(1379){background: #FFE5FE;}
.pixel:nth-child(1380){background: #0000FF;}
.pixel:nth-child(1381){background: #0000FF;}
.pixel:nth-child(1382){background: #0000FF;}
.pixel:nth-child(1383){background: #0000FF;}
.pixel:nth-child(1384){background: #0000FF;}
.pixel:nth-child(1385){background: #0000FF;}
.pixel:nth-child(1386){background: #0000FF;}
.pixel:nth-child(1387){background: #0000FF;}
.pixel:nth-child(1388){background: #FFE5FE;}
.pixel:nth-child(1389){background: #FFE5FE;}
.pixel:nth-child(1396){background: #0000FF;}
.pixel:nth-child(1397){background: #0000FF;}
.pixel:nth-child(1398){background: #0000FF;}
.pixel:nth-child(1401){background: #0000FF;}
.pixel:nth-child(1402){background: #0000FF;}
.pixel:nth-child(1403){background: #0000FF;}
.pixel:nth-child(1412){background: #0000FF;}
.pixel:nth-child(1413){background: #0000FF;}
.pixel:nth-child(1414){background: #0000FF;}
.pixel:nth-child(1417){background: #0000FF;}
.pixel:nth-child(1418){background: #0000FF;}
.pixel:nth-child(1419){background: #0000FF;}
.pixel:nth-child(1428){background: #0000FF;}
.pixel:nth-child(1429){background: #0000FF;}
.pixel:nth-child(1430){background: #0000FF;}
.pixel:nth-child(1433){background: #0000FF;}
.pixel:nth-child(1434){background: #0000FF;}
.pixel:nth-child(1435){background: #0000FF;}
.pixel:nth-child(1443){background: #594900;}
.pixel:nth-child(1444){background: #594900;}
.pixel:nth-child(1445){background: #594900;}
.pixel:nth-child(1450){background: #594900;}
.pixel:nth-child(1451){background: #594900;}
.pixel:nth-child(1452){background: #594900;}
.pixel:nth-child(1459){background: #594900;}
.pixel:nth-child(1460){background: #594900;}
.pixel:nth-child(1461){background: #594900;}
.pixel:nth-child(1466){background: #594900;}
.pixel:nth-child(1467){background: #594900;}
.pixel:nth-child(1468){background: #594900;}
.pixel:nth-child(1475){background: #594900;}
.pixel:nth-child(1476){background: #594900;}
.pixel:nth-child(1477){background: #594900;}
.pixel:nth-child(1482){background: #594900;}
.pixel:nth-child(1483){background: #594900;}
.pixel:nth-child(1484){background: #594900;}
.pixel:nth-child(1490){background: #594900;}
.pixel:nth-child(1491){background: #594900;}
.pixel:nth-child(1492){background: #594900;}
.pixel:nth-child(1493){background: #594900;}
.pixel:nth-child(1498){background: #594900;}
.pixel:nth-child(1499){background: #594900;}
.pixel:nth-child(1500){background: #594900;}
.pixel:nth-child(1501){background: #594900;}
.pixel:nth-child(1506){background: #594900;}
.pixel:nth-child(1507){background: #594900;}
.pixel:nth-child(1508){background: #594900;}
.pixel:nth-child(1509){background: #594900;}
.pixel:nth-child(1514){background: #594900;}
.pixel:nth-child(1515){background: #594900;}
.pixel:nth-child(1516){background: #594900;}
.pixel:nth-child(1517){background: #594900;}
.pixel:nth-child(1522){background: #594900;}
.pixel:nth-child(1523){background: #594900;}
.pixel:nth-child(1524){background: #594900;}
.pixel:nth-child(1525){background: #594900;}
.pixel:nth-child(1530){background: #594900;}
.pixel:nth-child(1531){background: #594900;}
.pixel:nth-child(1532){background: #594900;}
.pixel:nth-child(1533){background: #594900;}
