body {
 background :#333333;
height : 100vh;
display: flex;
justify-content : center;
align-items : center;
}
.canvas {
width: 560px;
height: 560px;
}
.pixel {
width: 35px;
height: 35px;
float: left;
box-shadow: 0px 0px 1px #fff;}
.pixel:nth-child(6){background: #106106106;}
.pixel:nth-child(7){background: #106106106;}
.pixel:nth-child(8){background: #106106106;}
.pixel:nth-child(9){background: #106106106;}
.pixel:nth-child(10){background: #106106106;}
.pixel:nth-child(11){background: #106106106;}
.pixel:nth-child(20){background: #106106106;}
.pixel:nth-child(21){background: #106106106;}
.pixel:nth-child(22){background: #106106106;}
.pixel:nth-child(23){background: #106106106;}
.pixel:nth-child(24){background: #106106106;}
.pixel:nth-child(25){background: #106106106;}
.pixel:nth-child(26){background: #106106106;}
.pixel:nth-child(27){background: #106106106;}
.pixel:nth-child(28){background: #106106106;}
.pixel:nth-child(29){background: #106106106;}
.pixel:nth-child(35){background: #106106106;}
.pixel:nth-child(36){background: #106106106;}
.pixel:nth-child(37){background: #106106106;}
.pixel:nth-child(38){background: #106106106;}
.pixel:nth-child(39){background: #106106106;}
.pixel:nth-child(40){background: #106106106;}
.pixel:nth-child(41){background: #106106106;}
.pixel:nth-child(42){background: #106106106;}
.pixel:nth-child(43){background: #106106106;}
.pixel:nth-child(44){background: #106106106;}
.pixel:nth-child(45){background: #106106106;}
.pixel:nth-child(46){background: #106106106;}
.pixel:nth-child(50){background: #106106106;}
.pixel:nth-child(51){background: #106106106;}
.pixel:nth-child(52){background: #106106106;}
.pixel:nth-child(53){background: #106106106;}
.pixel:nth-child(54){background: #106106106;}
.pixel:nth-child(55){background: #106106106;}
.pixel:nth-child(56){background: #106106106;}
.pixel:nth-child(57){background: #106106106;}
.pixel:nth-child(58){background: #106106106;}
.pixel:nth-child(59){background: #106106106;}
.pixel:nth-child(60){background: #106106106;}
.pixel:nth-child(61){background: #106106106;}
.pixel:nth-child(62){background: #106106106;}
.pixel:nth-child(63){background: #106106106;}
.pixel:nth-child(66){background: #106106106;}
.pixel:nth-child(67){background: #106106106;}
.pixel:nth-child(68){background: #106106106;}
.pixel:nth-child(69){background: #106106106;}
.pixel:nth-child(70){background: #106106106;}
.pixel:nth-child(71){background: #106106106;}
.pixel:nth-child(72){background: #106106106;}
.pixel:nth-child(73){background: #106106106;}
.pixel:nth-child(74){background: #106106106;}
.pixel:nth-child(75){background: #106106106;}
.pixel:nth-child(76){background: #106106106;}
.pixel:nth-child(77){background: #106106106;}
.pixel:nth-child(78){background: #106106106;}
.pixel:nth-child(79){background: #106106106;}
.pixel:nth-child(81){background: #106106106;}
.pixel:nth-child(82){background: #106106106;}
.pixel:nth-child(83){background: #106106106;}
.pixel:nth-child(84){background: #106106106;}
.pixel:nth-child(85){background: #106106106;}
.pixel:nth-child(86){background: #106106106;}
.pixel:nth-child(87){background: #106106106;}
.pixel:nth-child(88){background: #106106106;}
.pixel:nth-child(89){background: #106106106;}
.pixel:nth-child(90){background: #106106106;}
.pixel:nth-child(91){background: #106106106;}
.pixel:nth-child(92){background: #106106106;}
.pixel:nth-child(93){background: #106106106;}
.pixel:nth-child(94){background: #106106106;}
.pixel:nth-child(95){background: #106106106;}
.pixel:nth-child(96){background: #106106106;}
.pixel:nth-child(97){background: #106106106;}
.pixel:nth-child(98){background: #106106106;}
.pixel:nth-child(99){background: #106106106;}
.pixel:nth-child(100){background: #106106106;}
.pixel:nth-child(101){background: #106106106;}
.pixel:nth-child(102){background: #106106106;}
.pixel:nth-child(103){background: #106106106;}
.pixel:nth-child(104){background: #106106106;}
.pixel:nth-child(105){background: #106106106;}
.pixel:nth-child(106){background: #106106106;}
.pixel:nth-child(107){background: #106106106;}
.pixel:nth-child(108){background: #106106106;}
.pixel:nth-child(109){background: #106106106;}
.pixel:nth-child(110){background: #106106106;}
.pixel:nth-child(111){background: #106106106;}
.pixel:nth-child(112){background: #106106106;}
.pixel:nth-child(113){background: #106106106;}
.pixel:nth-child(114){background: #106106106;}
.pixel:nth-child(115){background: #106106106;}
.pixel:nth-child(116){background: #106106106;}
.pixel:nth-child(117){background: #106106106;}
.pixel:nth-child(118){background: #106106106;}
.pixel:nth-child(119){background: #106106106;}
.pixel:nth-child(120){background: #106106106;}
.pixel:nth-child(121){background: #106106106;}
.pixel:nth-child(122){background: #106106106;}
.pixel:nth-child(123){background: #106106106;}
.pixel:nth-child(124){background: #106106106;}
.pixel:nth-child(125){background: #106106106;}
.pixel:nth-child(126){background: #106106106;}
.pixel:nth-child(127){background: #106106106;}
.pixel:nth-child(128){background: #106106106;}
.pixel:nth-child(129){background: #106106106;}
.pixel:nth-child(130){background: #106106106;}
.pixel:nth-child(131){background: #106106106;}
.pixel:nth-child(132){background: #106106106;}
.pixel:nth-child(133){background: #106106106;}
.pixel:nth-child(134){background: #106106106;}
.pixel:nth-child(135){background: #106106106;}
.pixel:nth-child(136){background: #106106106;}
.pixel:nth-child(137){background: #106106106;}
.pixel:nth-child(138){background: #106106106;}
.pixel:nth-child(139){background: #106106106;}
.pixel:nth-child(140){background: #106106106;}
.pixel:nth-child(141){background: #106106106;}
.pixel:nth-child(142){background: #106106106;}
.pixel:nth-child(143){background: #106106106;}
.pixel:nth-child(144){background: #106106106;}
.pixel:nth-child(145){background: #106106106;}
.pixel:nth-child(146){background: #106106106;}
.pixel:nth-child(147){background: #106106106;}
.pixel:nth-child(148){background: #106106106;}
.pixel:nth-child(149){background: #106106106;}
.pixel:nth-child(150){background: #106106106;}
.pixel:nth-child(151){background: #106106106;}
.pixel:nth-child(152){background: #106106106;}
.pixel:nth-child(153){background: #106106106;}
.pixel:nth-child(154){background: #106106106;}
.pixel:nth-child(155){background: #106106106;}
.pixel:nth-child(156){background: #106106106;}
.pixel:nth-child(157){background: #106106106;}
.pixel:nth-child(158){background: #106106106;}
.pixel:nth-child(159){background: #106106106;}
.pixel:nth-child(160){background: #106106106;}
.pixel:nth-child(161){background: #106106106;}
.pixel:nth-child(162){background: #106106106;}
.pixel:nth-child(163){background: #106106106;}
.pixel:nth-child(164){background: #106106106;}
.pixel:nth-child(165){background: #106106106;}
.pixel:nth-child(166){background: #106106106;}
.pixel:nth-child(167){background: #106106106;}
.pixel:nth-child(168){background: #106106106;}
.pixel:nth-child(169){background: #106106106;}
.pixel:nth-child(170){background: #106106106;}
.pixel:nth-child(171){background: #106106106;}
.pixel:nth-child(172){background: #106106106;}
.pixel:nth-child(173){background: #106106106;}
.pixel:nth-child(174){background: #106106106;}
.pixel:nth-child(175){background: #106106106;}
.pixel:nth-child(176){background: #106106106;}
.pixel:nth-child(178){background: #106106106;}
.pixel:nth-child(179){background: #106106106;}
.pixel:nth-child(180){background: #106106106;}
.pixel:nth-child(181){background: #106106106;}
.pixel:nth-child(182){background: #106106106;}
.pixel:nth-child(183){background: #106106106;}
.pixel:nth-child(184){background: #106106106;}
.pixel:nth-child(185){background: #106106106;}
.pixel:nth-child(186){background: #106106106;}
.pixel:nth-child(187){background: #106106106;}
.pixel:nth-child(188){background: #106106106;}
.pixel:nth-child(189){background: #106106106;}
.pixel:nth-child(190){background: #106106106;}
.pixel:nth-child(191){background: #106106106;}
.pixel:nth-child(195){background: #106106106;}
.pixel:nth-child(196){background: #106106106;}
.pixel:nth-child(197){background: #106106106;}
.pixel:nth-child(198){background: #106106106;}
.pixel:nth-child(199){background: #106106106;}
.pixel:nth-child(200){background: #106106106;}
.pixel:nth-child(201){background: #106106106;}
.pixel:nth-child(202){background: #106106106;}
.pixel:nth-child(203){background: #106106106;}
.pixel:nth-child(204){background: #106106106;}
.pixel:nth-child(205){background: #106106106;}
.pixel:nth-child(206){background: #106106106;}
.pixel:nth-child(211){background: #106106106;}
.pixel:nth-child(212){background: #106106106;}
.pixel:nth-child(213){background: #106106106;}
.pixel:nth-child(214){background: #106106106;}
.pixel:nth-child(215){background: #106106106;}
.pixel:nth-child(216){background: #106106106;}
.pixel:nth-child(217){background: #106106106;}
.pixel:nth-child(218){background: #106106106;}
.pixel:nth-child(219){background: #106106106;}
.pixel:nth-child(220){background: #106106106;}
.pixel:nth-child(221){background: #106106106;}
.pixel:nth-child(222){background: #106106106;}
.pixel:nth-child(228){background: #106106106;}
.pixel:nth-child(229){background: #106106106;}
.pixel:nth-child(230){background: #106106106;}
.pixel:nth-child(231){background: #106106106;}
.pixel:nth-child(232){background: #106106106;}
.pixel:nth-child(233){background: #106106106;}
.pixel:nth-child(234){background: #106106106;}
.pixel:nth-child(235){background: #106106106;}
.pixel:nth-child(236){background: #106106106;}
.pixel:nth-child(237){background: #106106106;}
.pixel:nth-child(245){background: #106106106;}
.pixel:nth-child(246){background: #106106106;}
.pixel:nth-child(247){background: #106106106;}
.pixel:nth-child(248){background: #106106106;}
.pixel:nth-child(249){background: #106106106;}
.pixel:nth-child(250){background: #106106106;}
.pixel:nth-child(251){background: #106106106;}
.pixel:nth-child(252){background: #106106106;}
.pixel:nth-child(22){background: #545454;}
.pixel:nth-child(23){background: #545454;}
.pixel:nth-child(24){background: #545454;}
.pixel:nth-child(25){background: #545454;}
.pixel:nth-child(38){background: #545454;}
.pixel:nth-child(39){background: #545454;}
.pixel:nth-child(40){background: #545454;}
.pixel:nth-child(41){background: #545454;}
.pixel:nth-child(53){background: #545454;}
.pixel:nth-child(54){background: #545454;}
.pixel:nth-child(55){background: #545454;}
.pixel:nth-child(56){background: #545454;}
.pixel:nth-child(57){background: #545454;}
.pixel:nth-child(58){background: #545454;}
.pixel:nth-child(68){background: #545454;}
.pixel:nth-child(69){background: #545454;}
.pixel:nth-child(74){background: #545454;}
.pixel:nth-child(75){background: #545454;}
.pixel:nth-child(82){background: #545454;}
.pixel:nth-child(83){background: #545454;}
.pixel:nth-child(84){background: #545454;}
.pixel:nth-child(91){background: #545454;}
.pixel:nth-child(92){background: #545454;}
.pixel:nth-child(93){background: #545454;}
.pixel:nth-child(94){background: #545454;}
.pixel:nth-child(95){background: #545454;}
.pixel:nth-child(98){background: #545454;}
.pixel:nth-child(99){background: #545454;}
.pixel:nth-child(100){background: #545454;}
.pixel:nth-child(107){background: #545454;}
.pixel:nth-child(108){background: #545454;}
.pixel:nth-child(111){background: #545454;}
.pixel:nth-child(115){background: #545454;}
.pixel:nth-child(116){background: #545454;}
.pixel:nth-child(123){background: #545454;}
.pixel:nth-child(132){background: #545454;}
.pixel:nth-child(133){background: #545454;}
.pixel:nth-child(138){background: #545454;}
.pixel:nth-child(139){background: #545454;}
.pixel:nth-child(148){background: #545454;}
.pixel:nth-child(149){background: #545454;}
.pixel:nth-child(150){background: #545454;}
.pixel:nth-child(151){background: #545454;}
.pixel:nth-child(152){background: #545454;}
.pixel:nth-child(153){background: #545454;}
.pixel:nth-child(154){background: #545454;}
.pixel:nth-child(155){background: #545454;}
.pixel:nth-child(156){background: #545454;}
.pixel:nth-child(159){background: #545454;}
.pixel:nth-child(163){background: #545454;}
.pixel:nth-child(164){background: #545454;}
.pixel:nth-child(173){background: #545454;}
.pixel:nth-child(174){background: #545454;}
.pixel:nth-child(175){background: #545454;}
.pixel:nth-child(6){background: #000000;}
.pixel:nth-child(7){background: #000000;}
.pixel:nth-child(8){background: #000000;}
.pixel:nth-child(9){background: #000000;}
.pixel:nth-child(10){background: #000000;}
.pixel:nth-child(11){background: #000000;}
.pixel:nth-child(20){background: #000000;}
.pixel:nth-child(21){background: #000000;}
.pixel:nth-child(28){background: #000000;}
.pixel:nth-child(29){background: #000000;}
.pixel:nth-child(35){background: #000000;}
.pixel:nth-child(46){background: #000000;}
.pixel:nth-child(50){background: #000000;}
.pixel:nth-child(63){background: #000000;}
.pixel:nth-child(66){background: #000000;}
.pixel:nth-child(79){background: #000000;}
.pixel:nth-child(81){background: #000000;}
.pixel:nth-child(96){background: #000000;}
.pixel:nth-child(97){background: #000000;}
.pixel:nth-child(112){background: #000000;}
.pixel:nth-child(113){background: #000000;}
.pixel:nth-child(128){background: #000000;}
.pixel:nth-child(129){background: #000000;}
.pixel:nth-child(144){background: #000000;}
.pixel:nth-child(145){background: #000000;}
.pixel:nth-child(160){background: #000000;}
.pixel:nth-child(161){background: #000000;}
.pixel:nth-child(165){background: #000000;}
.pixel:nth-child(166){background: #000000;}
.pixel:nth-child(167){background: #000000;}
.pixel:nth-child(168){background: #000000;}
.pixel:nth-child(169){background: #000000;}
.pixel:nth-child(170){background: #000000;}
.pixel:nth-child(171){background: #000000;}
.pixel:nth-child(172){background: #000000;}
.pixel:nth-child(176){background: #000000;}
.pixel:nth-child(178){background: #000000;}
.pixel:nth-child(179){background: #000000;}
.pixel:nth-child(180){background: #000000;}
.pixel:nth-child(189){background: #000000;}
.pixel:nth-child(190){background: #000000;}
.pixel:nth-child(191){background: #000000;}
.pixel:nth-child(195){background: #000000;}
.pixel:nth-child(206){background: #000000;}
.pixel:nth-child(211){background: #000000;}
.pixel:nth-child(222){background: #000000;}
.pixel:nth-child(228){background: #000000;}
.pixel:nth-child(237){background: #000000;}
.pixel:nth-child(245){background: #000000;}
.pixel:nth-child(246){background: #000000;}
.pixel:nth-child(247){background: #000000;}
.pixel:nth-child(248){background: #000000;}
.pixel:nth-child(249){background: #000000;}
.pixel:nth-child(250){background: #000000;}
.pixel:nth-child(251){background: #000000;}
.pixel:nth-child(252){background: #000000;}
.pixel:nth-child(183){background: #000000;}
.pixel:nth-child(186){background: #000000;}
.pixel:nth-child(199){background: #000000;}
.pixel:nth-child(202){background: #000000;}
